<div class='container'>
  <div id='word-container'>
    <% @text.words.order(:id).each do |word| %>
      <div class="word" id="<%= word.id %>">
        <%= word.content %>
      </div>
      <div class="space">
        &nbsp;
      </div>
    <% end %>
  </div>
</div>